* {
  box-sizing: border-box;
  /*margin-top: 0;*/
}
.actor-wrapper {
  display: flex;
  flex-flow: row nowrap;
  color: #FC6F7E;
  background-color: darkslategrey;
  padding: 1em;
  min-height: 340px;
}
.actor-speaks {
  align-self: flex-end;
}