* {
  /*color: lightblue;*/
  box-sizing: border-box;
}
.scene-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding: 10px;
  background-color: #4E312D;
  color: lightblue;
}
footer {
  padding: 12px 0 0 0;
  color: dimgray;
}