<div class="scene-wrapper">

<actor-cmp [aNode]="actorNodes"></actor-cmp>
<player-cmp
    [pNode]="playerNodes"
    [pThought]="playerThought">
</player-cmp>
<!--<actor-cmp [aNode]="actorSpeech"></actor-cmp>-->
<!--<player-cmp [pNode]="playerSpeech"></player-cmp>-->

</div>

<footer>
  <hr color=#333>
  <ul>
    <li *ngFor="#node of actorNodes">{{ node }}</li>
    <li *ngFor="#node of playerNodes">{{ node }}</li>
  </ul>

  <hr color=#000>
  <small>{{ actorNodes | json }}</small>
  <small>{{ playerNodes | json }}</small>

  <!--<small>{{ hardcodedNodes[0].actor}}</small>-->
  <!--<ul>
    <li *ngFor="#node of hardcodedNodes">
      <actor-cmp [node]="node.actor"></actor-cmp>
    </li>
    <li *ngFor="#node of hardcodedNodes">{{ node.actor }}</li>
    <li *ngFor="#node of hardcodedNodes">{{ node.player}}</li>
  </ul>-->
</footer>