<div class="scene-wrapper">

<actor-cmp [aNode]="actorNodes | async"></actor-cmp>
<player-cmp
    [pNode]="playerNodes | async"
    [pThought]="playerThought">
</player-cmp>

</div>

<footer>
  <hr color=#333>
  <small>{{ actorNodes | async | json }}</small>
  <small>{{ playerNodes | async | json }}</small>
  <hr color=#333>
  <small>
  <ul>
    <!--<li *ngFor="#node of actorNodes | async">{{ node }}</li>-->
    <li *ngFor="#node of playerNodes | async">{{ node }}</li>
  </ul>
  </small>
</footer>