* {
  box-sizing: border-box;
  /*margin-top: 0;*/
}
.player-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  color: gold;
  background-color: teal;
  padding: 1em;
  min-height: 340px;
}
/* this is NOT right */
.player-speaks {
  align-self: flex-start;
}