// styles applied on :host are applied on the current component, "app" in this case
:host {
    display: block;
}
header {
    // background-color: #202020;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
main {
    height: 768px;
    width: 576px;
    padding: 1em;
    text-align: center;
    margin: 34px auto;
    background-color: #2B2D25;
}
footer {
    text-align: center;
    font-size: 0.8em;
}
