// styles applied on :host are applied on the current component, "app" in this case
:host {
    display: block;
}
header {
    padding: 8px 16px;
    width: 100%;
    font-size: 0.9em;
}
main {
    height: 660px;
    width: 495px;
    padding: 1em;
    text-align: center;
    margin: auto;
    background-color: #2B2D25;
}
footer {
    text-align: center;
    font-size: 0.8em;
}
